.ui-body-c, .ui-overlay-c {background: red;}
img {margin-top: 10px;}
#image {background-image:url('pics/guitars.jpg'); background-attachment: fixed;}
.panelWrapper #nav-panel {background-color: #000000;}
.panelWrapper input {}
.linksWrapper input {}


			